body {
  font-family: inherit;
  color: #555;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.navbar-light .navbar-brand {
  color: #c40d2e;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #c40d2e;
}

.btn-outline-success {
  color: #c40d2e;
  border-color: #c40d2e;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #c40d2e;
  border-color: #c40d2e;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #c40d2e;
}

.form-control:focus {
  border-color: #c40d2e;
  box-shadow: 0 0 0 0.25rem #c40d2e;
}

.style-text {
  color: #c40d2e;
}

.text-size {
  margin-top: 0.7em;
  font-size: 17px;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}

footer {
  background: #f9f9f9;
}

.first-line {
  border-bottom: 1px solid #e5e5e5;
}

.second-line a {
  color: #555;
  text-decoration: none;
}

.second-line a:hover {
  color: #c40d2e;
}

.third-line {
  display: none;
  border-top: 1px solid #e5e5e5;
  color: #555;
}

@media screen and (max-width: 48rem) {
  .first-line {
    text-align: center;
  }
}

@media screen and (max-width: 48rem) {
  .second-line {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 48rem) {
  .third-line {
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
